body {
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size:1.5em;
    margin:0;
    background-color: rgb(255, 255, 255);
  }

  /* header */
  header {
    background-color: rgb(45, 152, 156);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }

  #icon-img {
    width: 60px;
    margin: 15px 0px -5px 0px;
    text-align: center;
  }
  
  header h1 {
    color:#fff;
    margin:0;
    padding:1px;
    line-height:1,5em;
    text-align:center;
  }

  header p {
    color: rgb(238, 227, 227);
    margin:0;
    padding:0px;
    line-height:1em;
    text-align:center;
  }

  /* nav */
  nav {
    background-color: white;
  }
  
  nav ul {
    background-color:rgb(50, 90, 95);
    list-style:none;
    padding:0.7em;
    display:flex;
    justify-content:center;
  }
  
  nav ul li {
    margin:0em;
    padding:0em;
    justify-items: center;
  }
  
  nav ul li a {
    font-family:verdana;
    color:#fff;
    text-decoration: none;
    padding: 12px;
  }

  nav ul li a:hover {
    color:rgb(45, 152, 156);
  }

  #visited {
    color:rgb(45, 152, 156);
  }

  /* content home */
  #fullwidth-img {
    height: 700px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-items: center;
    object-fit: cover;
  }

  #home h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    color: white;
    background-color: rgb(45, 152, 156);
    margin: 0 auto;
    padding: 0.5em;
  }

  #home p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 16pt;
    text-align: center;
    margin: 2em 4em 2em 4em;
  }

  #images {
    text-align: center;
  }

  #images img {
    width: 300px;
    margin: 1em 1.5em 1em 1.5em;
  }

  .background-quote img {
    background-image: url(images/wolk.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
  }

  h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15pt;
    text-align: center;
    display: flex;
    position: absolute;
    z-index: 1;
    padding: 1em 6em 4em 6em;
    word-spacing: 0.1em;
  }

  /* content thuis */
  #fullwidth-img {
    height: 650px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-items: center;
    object-fit: cover;
  }

  #thuis h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    color: white;
    background-color: rgb(50, 90, 95);
    margin: 0 auto;
    padding: 0.5em;
  }

  #thuis h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgb(50, 90, 95);
    margin: 1em 5em 0em 5em;
    padding: 0em;
  }

  #thuis p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: black;
    margin: 1.5em 5em 0.2em 5em;
    padding: 0em;
  }

  #thuis ul {
    margin: 0.5em 5em 0em 3em;
  }

  #thuis ul li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: black;
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.2em;
  }

  #thuis ol {
    margin: 1em 5em 0em 3em;
  }

  #thuis ol li {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: black;
    margin: 0.5em 0em 0.5em 0em;
    padding: 0em;
  }

  #berghouding {
    width: 60%;
    display: flex;
    margin: 1em 0em;
  }

  #tang {
    width: 60%;
    display: flex;
    margin: 1em 0em;
  }

  #plank {
    width: 60%;
    display: flex;
    margin: 1em 0em;
  }

  #cobra {
    width: 60%;
    display: flex;
    margin: 1em 0em;
  }

  #hond {
    width: 60%;
    display: flex;
    margin: 1em 0em;
  }

  p#text-left {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: black;
    margin: 1.5em 5em 4em 5em;
    padding: 0em;
  }

  a#button {
    position: fixed;
    bottom: 50px;
    width: 80px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(45, 152, 156);
    padding: 1em 0.5em;
  }

  /* content groepslessen */
  #fullwidth-img {
    height: 650px;
    width: 100%;
    display: flex;
    margin: auto;
    justify-items: center;
    object-fit: cover;
  }

  #groepslessen h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    font-weight: normal;
    text-align: center;
    color: white;
    background-color: rgb(50, 90, 95);
    margin: 0 auto;
    padding: 0.5em;
  }

  #groepslessen p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: black;
    margin: 1.5em 5em 1.5em 5em;
    padding: 0em;
  }

  table, th, td {
    width: 50%;
    border: 2px solid rgb(45, 152, 156);
    background-color: white;
    border-collapse: collapse;
    margin: 2em auto;
  }

  th {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 1em 1em;
  }

  td {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 1em 2em;
  }

  #groepslessen h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgb(50, 90, 95);
    margin: 1em 5em 0em 5em;
    padding: 0em;
  }

  #kinderyoga {
    float: left;
    width: 400px;
    height: 400px;
    margin: 2em 2em; 
    border: 3px solid rgb(45, 152, 156);
  }

  .link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 16pt;
  }

  .link:hover {
    color:  rgb(45, 152, 156);
  }

  p#text-left {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 16pt;
    text-align: left;
    margin: 4em 4em 4em 3em;
  }

  /* content contact */
  .background-image img {
    background-image: url(images/Contact-telefoon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin: 0em 0em 1em 0em;
    position: relative;
    display: flex;
  }

  h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 90, 95);
    background-color: rgb(213, 228, 225);
    font-size: 15pt;
    text-align: left;
    display: flex;
    position: absolute;
    z-index: 1;
    padding: 1em 6em 1em 6em;
    word-spacing: 0.1em;
  }

  #contact a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 90, 95);
    background-color: rgb(213, 228, 225);
    font-size: 15pt;
    text-align: left;
    display: flex;
    position: absolute;
    z-index: 1;
    margin: 5em auto;
    padding: 0.5em 6em;
  }

  /* footer */ 
  footer {
    clear: both;
    position: relative;
    height: 50px;
    margin: auto;
    background-color: rgb(45, 152, 156);
  }

  footer p {
    color: white;
    font-size: 15pt;
    text-align: center;
    padding-top: 0.5em;
    
  }